/* change the background color behind your header image and text */
.jumbotron {
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
}

/* change the background color of the main page background (around the signer sections) */
.pagebackground {
    background-color: #ffffff;
}

/* change the color of the header text */
h1 {
  color: #3d00b2;
}

.myinput {
  padding-left: 25%;
  padding-right: 25%;
}

.mybtn {
  background-color: #3d00b2;
}
