/* change the background color behind your header image and text */
.jumbotron {
  background-color: #ffffff;
  padding: 5px;
  text-align: center;
}

/* change the background color of the main page background (around the signer sections) */
.pagebackground {
    background-color: #ffffff;
}

/* change the color of the header text */
h1 {
  color: #3d00b2;
}

.myInput {
  padding-left: 25%;
  padding-right: 25%;
}

.myBtn {
  background-color: #3d00b2;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
